.depend
BonDriverProxy
BonDriverProxyEx
sample
util/test
util/udpsend
util/splitter
util/cinfo

### user config ###
*.so.*

### C / C++ ###
# Object files
*.o

# Shared objects
*.so
*.dylib

# Compiled Static libraries
*.a

# Executables
*.out
